packages/**/node_modules/**
packages/**/plugin/build/**
node_modules
scripts/
coverage
docs
packages/template/project/**
app.playground.js
type-test.ts
packages/**/modular/dist/**
packages/**/lib/**
**/dist/**
**/platformAssets/**
**/platformBuilds/**
packages/template/appConfigs/base/assets/webos/public/webOSTVjs-1.1.1/**