packages/**/node_modules/**
packages/**/plugin/build/**
node_modules
scripts/
coverage
docs
packages/template-starter/project/**
app.playground.js
type-test.ts
packages/**/modular/dist/**
packages/**/lib/**
**/dist/**
**/platformAssets/**
**/platformBuilds/**
packages/template-starter/appConfigs/base/assets/webos/public/webOSTVjs-1.1.1/**
packages/template-starter/build/**