name: E2E Template App (iOS)

defaults:
    run:
        shell: zsh -l {0}
on:
    workflow_dispatch:
    push:
        branches:
            - main
            - 'release/**'
        paths-ignore:
            - 'docs/**'
            - '**/README.md'
    pull_request:
        types: [labeled]

jobs:
    e2e-template-ios:
        if: ${{ github.event_name == 'workflow_dispatch' || github.event_name == 'push' || github.event.label.name == 'e2e-template-ios' || github.event.label.name == 'e2e' }}
        runs-on: [self-hosted, macos]
        steps:
            - uses: actions/checkout@v2
            - name: Setup
              run: |
                  security unlock-keychain -p ${{ secrets.FLEXN_KEYCHAIN_PASSWORD }} Flexn.keychain
                  yarn config set network-timeout 300000
            - name: Bootstrap
              run: |
                  yarn bootstrap-clean
            - name: E2E Template App iOS
              run: |
                  yarn e2e-template-ios
            - name: Post message to Slack via webhook
              if: ${{ github.event_name == 'push' && failure() }}
              uses: slackapi/slack-github-action@v1.23.0
              with:
                  payload: |
                      {
                        "text": " <!here> *Template iOS e2e tests FAILED after* <${{ github.event.pull_request.html_url || github.event.head_commit.url }}|push> :alert:",
                        "blocks": [
                          {
                            "type": "section",
                            "text": {
                              "type": "mrkdwn",
                              "text": " <!here> *Template iOS e2e tests FAILED after* <${{ github.event.pull_request.html_url || github.event.head_commit.url }}|push> :alert:"
                            }
                          }
                        ]
                      }
              env:
                  SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
