name: E2E Harness App (AndroidTV)

defaults:
    run:
        shell: zsh -l {0}
on:
    workflow_dispatch:
    push:
        branches:
            - main
            - 'release/**'
        paths-ignore:
            - 'docs/**'
            - '**/README.md'
    pull_request:
        types: [labeled]

jobs:
    e2e-harness-androidtv:
        if: ${{ github.event_name == 'workflow_dispatch' || github.event_name == 'push' || github.event.label.name == 'e2e-harness-androidtv' || github.event.label.name == 'e2e' }}
        runs-on: [self-hosted, macos, intel]
        steps:
            - uses: actions/checkout@v2
            - name: Setup
              run: |
                  yarn config set network-timeout 300000
            - name: Bootstrap
              run: |
                  yarn bootstrap-clean
            - name: E2E Harness App AndroidTV
              run: |
                  yarn e2e-harness-androidtv
            - name: Post message to Slack via webhook
              if: ${{ github.event_name == 'push' && failure() }}
              uses: slackapi/slack-github-action@v1.23.0
              with:
                  payload: |
                      {
                        "text": " <!here> *Harness AndroidTV e2e tests FAILED after* <${{ github.event.pull_request.html_url || github.event.head_commit.url }}|push> :alert:",
                        "blocks": [
                          {
                            "type": "section",
                            "text": {
                              "type": "mrkdwn",
                              "text": " <!here> *Harness AndroidTV e2e tests FAILED after* <${{ github.event.pull_request.html_url || github.event.head_commit.url }}|push> :alert:"
                            }
                          }
                        ]
                      }
              env:
                  SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
